{% extends 'base.html' %}
{% block body %}
<div style="margin-top: 80px;">
<h1>Password reset</h1>
<div>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</div>
</div>
<div class="sign-container lgn rst">
    <div class="sign-head">
        <i class="fas fa-user"></i>
        <header>RESET YOUR PASSWORD</header>
    </div>
    <div class="sign-body">
        <form action="" method="POST" class="form-full">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="form-bx fx btnm" value="Reset">
        </form>
    </div>
</div>
{% endblock %}